.post-content {
  text-align: center;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.post-category {
  font-size: 14px;
  color: #777;
}

.post-image {
  max-width: 100%;
  max-height: 500px;
  border-radius: 10px;
  margin-top: 15px;
}

.post-body {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin-top: 15px;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}
/* ========================================================================= */
.post-author {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  justify-content: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 1rem;
}

.post-author-info {
  text-align: left;
}
.post-author-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #222;
}
.post-author-email {
  font-weight: 400;
  color: #444;
}
.post-author img {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
}
/* ========================================================================= */

/* =============== */
.comments-section {
  margin-top: 30px;
}

.comment-box {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.comment-author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment-author p {
  font-weight: bold;
  color: #333;
}
.comment-author img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2.8rem;
}

.comment-body {
  margin-top: 5px;
  padding-left: 3.8rem;
}
.comment-content {
  color: #000;
}
.comment-date {
  color: #777;
  font-size: 0.8rem;
  text-align: right;
}
/* ========================================================================= */

.comment-form {
  margin-top: 20px;
}

.comment-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.comment-button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.comment-button:hover {
  background: #0056b3;
  border: none;
  color: #fff;
}
